/* Add custom styles for the table */
#user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#user-table th,
#user-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#user-table th {
  background-color: #0652c0;
  color: #fff;
  font-weight: bold;
}

#user-table td {
  background-color: #f1f1f1;
}

body {
  margin: 0;
  padding: 0;
}/* CSS styles for the navigation bar */
nav {
  background-color: #0652c0;
  padding: 10px 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px ;
}

nav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav li:not(:last-child) a {
  border-right: 1px solid transparent;
}

nav li a:hover {
  background-color: #3d78da;
  border-radius: 5px;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-right a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.nav-right a:hover {
  background-color: #3d78da;
  border-radius: 5px;
}
